.auth-page {
  width: 100%;
}

.register-content {
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 50px;
}

.register-grid  {
  display: flex;
  align-items: center;
  box-sizing: inherit;
}

@media(max-width:768px){
  .auth-page {
    padding: 15px;
  }
}