.alert {
  position: fixed;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  width: 30%;
  top: 120px;
  left: 50%;
  transform: translate(-50%, -0);
  z-index: 4;
  font-size: 15px;
}

.alert-success {
  background-color: #7bed9f;
  color: #fff;
}

.alert-danger {
  background-color: #c4524f;
  color: #fff;
}

@media(max-width:768px){
  .alert {
    top: 120px;
    width: 90%;
  }
}