.side-bar-container {
  width: 17%;
  flex-shrink: 0;
  z-index: 1;
  box-shadow: 0 0 0 rgba(12,13,14,0.05);
  transition: box-shadow ease-in-out .1s,transform ease-in-out .1s;
  position: relative !important;

  .side-bar-tabs {
    float: right;
    margin-top:25px;
    width: 70%;

    .home-link {
      text-decoration: none;
      color: #000;

      p {
        padding: .7rem;
        border-right: 3px;
        font-size: 16px;
      }
      &:hover {
        color: #000;
      }
    }

    .active {
      color: #000;

      p {
        font-weight: bold;
        color: #000;
      }
      .icon {
        color: #000;
      }

    }
  }
}
