.style-post-card{
  display: grid;
  grid-template-columns: repeat(auto-fill, 16rem);
  grid-gap: 40px;
  padding-bottom: 100px;
  justify-content: center;
}

.post-create-btn{
  text-align: right;
  margin-bottom: 20px;
  margin-top: 1px;
}